RewriteEngine On

# Falls die angeforderte Datei oder Verzeichnis existiert, liefere sie direkt aus
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Ansonsten leite alles an index.php weiter
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
